.card {
    background-color: white;
    padding: 10px 40px;
    border: 6px solid #028080;
    border-radius: 10px;
    color: #028080;
}

button {
    padding: 5px 55px;
    background-color: #028080;
    color: white;
}